.navbar-dark {
    background-color: #0e0d0d;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: fixed;
    width: 100%;
    margin-top: 2rem;
}

.form-button-hint {
    font-size: 10px;
}

.container {
    background: -webkit-linear-gradient(left, #222213, #d8860be8);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    color: white;
    margin-top: 6.5rem;
}
