.navbar-dark {
    background-color: #666666;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 100%;
    margin-top: 2rem;
}

.container {
    background-image: url("src/assets/seller-dashboard/nick-kane-TRP_tiirOlk-unsplash.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    color: white;
    margin-top: 6.5rem;
}

.row{
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid grey;
    width: 80%;
    align-self: center;
    background-color: antiquewhite;
}

.row p {
    padding: 1rem;
    color: grey;
    background-color: antiquewhite;
    font-weight: bold;
    text-align: left;
}
  